<section>
    <div id="Title">Bienvenido al chat</div>
    <div id="messages"></div>
    <div>
        <input type="text" id="msj" />
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/main.js'></script>